<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>index</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>getProductList</servlet-name>
        <servlet-class>Servlets.getProductList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>indexServlet</servlet-name>
        <servlet-class>Servlets.indexServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>Servlets.loginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductServlet</servlet-name>
        <servlet-class>Servlets.ProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>productServlet</servlet-name>
        <servlet-class>Servlets.productServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>orderServlet</servlet-name>
        <servlet-class>Servlets.orderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>categoryServlet</servlet-name>
        <servlet-class>Servlets.categoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>promotionServlet</servlet-name>
        <servlet-class>Servlets.promotionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>staffServlet</servlet-name>
        <servlet-class>Servlets.staffServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>customerServlet</servlet-name>
        <servlet-class>Servlets.customerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>auditLogServlet</servlet-name>
        <servlet-class>Servlets.auditLogServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registerCustomerServlet</servlet-name>
        <servlet-class>Servlets.registerCustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cartServlet</servlet-name>
        <servlet-class>Servlets.cartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logoutServlet</servlet-name>
        <servlet-class>Servlets.logoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editCustomerServlet</servlet-name>
        <servlet-class>Servlets.editCustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editCustomerPasswdServlet</servlet-name>
        <servlet-class>Servlets.editCustomerPasswdServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getCustomerOrdersServlet</servlet-name>
        <servlet-class>Servlets.getCustomerOrdersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getCustomerOrdeerDetailsServlet</servlet-name>
        <servlet-class>Servlets.getCustomerOrdeerDetailsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getCustomerOrderDetailServlet</servlet-name>
        <servlet-class>Servlets.getCustomerOrderDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getCustomerCartlistServlet</servlet-name>
        <servlet-class>Servlets.getCustomerCartlistServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getAdminDashboardInfoServlet</servlet-name>
        <servlet-class>Servlets.getAdminDashboardInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminLoginServlet</servlet-name>
        <servlet-class>Servlets.adminLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminLogoutServlet</servlet-name>
        <servlet-class>Servlets.adminLogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminAddProductServlet</servlet-name>
        <servlet-class>Servlets.adminAddProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminEditProductServlet</servlet-name>
        <servlet-class>Servlets.adminEditProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminDeleteProductServlet</servlet-name>
        <servlet-class>Servlets.adminDeleteProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminAddCategoryServlet</servlet-name>
        <servlet-class>Servlets.adminAddCategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminEditCategoryServlet</servlet-name>
        <servlet-class>Servlets.adminEditCategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminDeleteCategoryServlet</servlet-name>
        <servlet-class>Servlets.adminDeleteCategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminAddPromotionServlet</servlet-name>
        <servlet-class>Servlets.adminAddPromotionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminEditPromotionServlet</servlet-name>
        <servlet-class>Servlets.adminEditPromotionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminDeletePromotionServlet</servlet-name>
        <servlet-class>Servlets.adminDeletePromotionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminAddStaffServlet</servlet-name>
        <servlet-class>Servlets.adminAddStaffServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminEditStaffServlet</servlet-name>
        <servlet-class>Servlets.adminEditStaffServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminDeleteStaffServlet</servlet-name>
        <servlet-class>Servlets.adminDeleteStaffServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addToCart</servlet-name>
        <servlet-class>Servlets.addToCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>increaseProductCart</servlet-name>
        <servlet-class>Servlets.increaseProductCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>modifyCartProductQuantity</servlet-name>
        <servlet-class>Servlets.modifyCartProductQuantity</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteFromCart</servlet-name>
        <servlet-class>Servlets.deleteFromCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>createOrderServlet</servlet-name>
        <servlet-class>Servlets.createOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminDeleteCustomerServlet</servlet-name>
        <servlet-class>Servlets.adminDeleteCustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminChangePasswordServlet</servlet-name>
        <servlet-class>Servlets.adminChangePasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminUpdateOrderStatusServlet</servlet-name>
        <servlet-class>Servlets.adminUpdateOrderStatusServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>reportServlet</servlet-name>
        <servlet-class>Servlets.reportServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminDeactivePromotionServlet</servlet-name>
        <servlet-class>Servlets.adminDeactivePromotionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminGetOrderDetailServlet</servlet-name>
        <servlet-class>Servlets.adminGetOrderDetailServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>getProductList</servlet-name>
        <url-pattern>/getProductList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>indexServlet</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/loginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductServlet</servlet-name>
        <url-pattern>/admin/ProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>productServlet</servlet-name>
        <url-pattern>/admin/productServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>orderServlet</servlet-name>
        <url-pattern>/admin/orderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>categoryServlet</servlet-name>
        <url-pattern>/admin/categoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>promotionServlet</servlet-name>
        <url-pattern>/admin/promotionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>staffServlet</servlet-name>
        <url-pattern>/admin/staffServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>customerServlet</servlet-name>
        <url-pattern>/admin/customerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>auditLogServlet</servlet-name>
        <url-pattern>/admin/auditLogServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registerCustomerServlet</servlet-name>
        <url-pattern>/registerCustomerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cartServlet</servlet-name>
        <url-pattern>/cartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logoutServlet</servlet-name>
        <url-pattern>/logoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editCustomerServlet</servlet-name>
        <url-pattern>/editCustomerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editCustomerPasswdServlet</servlet-name>
        <url-pattern>/editCustomerPasswdServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getCustomerOrdersServlet</servlet-name>
        <url-pattern>/getCustomerOrdersServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getCustomerOrdeerDetailsServlet</servlet-name>
        <url-pattern>/getCustomerOrdeerDetailsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getCustomerOrderDetailServlet</servlet-name>
        <url-pattern>/getCustomerOrderDetailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getCustomerCartlistServlet</servlet-name>
        <url-pattern>/getCustomerCartlistServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getAdminDashboardInfoServlet</servlet-name>
        <url-pattern>/admin/getAdminDashboardInfoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminLoginServlet</servlet-name>
        <url-pattern>/admin/adminLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminLogoutServlet</servlet-name>
        <url-pattern>/admin/adminLogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminAddProductServlet</servlet-name>
        <url-pattern>/admin/adminAddProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminEditProductServlet</servlet-name>
        <url-pattern>/admin/adminEditProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminDeleteProductServlet</servlet-name>
        <url-pattern>/admin/adminDeleteProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminAddCategoryServlet</servlet-name>
        <url-pattern>/admin/adminAddCategoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminEditCategoryServlet</servlet-name>
        <url-pattern>/admin/adminEditCategoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminDeleteCategoryServlet</servlet-name>
        <url-pattern>/admin/adminDeleteCategoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminAddPromotionServlet</servlet-name>
        <url-pattern>/admin/adminAddPromotionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminEditPromotionServlet</servlet-name>
        <url-pattern>/admin/adminEditPromotionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminDeletePromotionServlet</servlet-name>
        <url-pattern>/admin/adminDeletePromotionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminAddStaffServlet</servlet-name>
        <url-pattern>/admin/adminAddStaffServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminEditStaffServlet</servlet-name>
        <url-pattern>/admin/adminEditStaffServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminDeleteStaffServlet</servlet-name>
        <url-pattern>/admin/adminDeleteStaffServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addToCart</servlet-name>
        <url-pattern>/addToCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>increaseProductCart</servlet-name>
        <url-pattern>/increaseProductCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>modifyCartProductQuantity</servlet-name>
        <url-pattern>/modifyCartProductQuantity</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteFromCart</servlet-name>
        <url-pattern>/deleteFromCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createOrderServlet</servlet-name>
        <url-pattern>/createOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminDeleteCustomerServlet</servlet-name>
        <url-pattern>/admin/adminDeleteCustomerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminChangePasswordServlet</servlet-name>
        <url-pattern>/admin/adminChangePasswordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminUpdateOrderStatusServlet</servlet-name>
        <url-pattern>/admin/adminUpdateOrderStatusServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>reportServlet</servlet-name>
        <url-pattern>/admin/reportServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminDeactivePromotionServlet</servlet-name>
        <url-pattern>/admin/adminDeactivePromotionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminGetOrderDetailServlet</servlet-name>
        <url-pattern>/admin/adminGetOrderDetailServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            60
        </session-timeout>
    </session-config>
</web-app>
