
.myprofile-bgarea{
    background-color: #f1f1f1;
}

.myprofile-inner-area{
    padding: 50px 0;
}

.col-left-area{
    background-color: white;
    padding: 20px;
    font-size: 20px;
    border-radius: 15px;
}

.col-left-area i{
    padding: 10px 30px 10px 30px;
}

.profile-nav{
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.profile-nav:hover{
    color: #41756C;
}

.profile-nav.active{
    border-radius: 25px;
    background-color: #F1F1F1;
    width: auto;
    display: block;
    color: #41756C;
}

.col-right-area{
    background-color: white;
    padding: 20px;
    border-radius: 15px;
}

.profile-name-area h4{
    padding-bottom: 5px;
    border-bottom: 2px solid #D9D9D8;
}

.details-left-part{
    text-align: end;
    padding-right: 40px !important;
}

.details-txt{
    padding-bottom: 21px;
}

.details-input{
    padding-bottom: 20px;
}

.details-input input, .details-input textarea{
    background-color: #f1f1f1;
    border: none;
}

.profile-save-btn{
    background-color: #FFEFB7;
    border: none;    
    width: 100px;
    border-radius: 15px;
    padding: 4px;
}

input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -4px;
    left: -2px;
    position: relative;
    background-color: #d1d3d1;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}


input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -4px;
    left: -1px;
    position: relative;
    background-color: #575757;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

/* Profile Order Part */
.order-title{
    justify-content: space-between;
    border-bottom: 1px solid #A6A6A6;
    padding-bottom: 5px;
}

.order-title-right .order-status-style{
    border-left: 1px solid #A6A6A6;
    padding-left: 25px;
}

.order-bottom{
    justify-content: space-between;
    padding-top: 10px;
    align-items: center;
}

.order-btm-btn{
    border-radius: 25px;
    background-color: #FFEFB7;
    width: 14%;
    display: block;
    text-align: center;
    padding: 4px 0;
    cursor: pointer;
}